<% if User.current.admin == true %><!-- Панель администратора. Набор кнопок с функциями -->
		<table align="right">				
			<tr>
				<td>
					<b>Администрирование</b>
					<%= button_to 'Добавить вопрос', { :action => 'addQuestion', :controller => 'questions'}, :method => :post %>
				</td>
			</tr>
			<tr>
				<% if Questions.count(:id) != 0 %>
					<td>
						<%= button_to 'Удалить вопрос', { :action => 'delQuestion', :controller => 'questions'}, :method => :post %>
					</td>
				<% end %>					
			</tr>
			<tr>
				<td>
					<% if Questions.count(:id) != 0 and Useranswer.count(:id) != 0 %> <!-- Проверка наличия вопроса и ответа -->
						<%= button_to 'Тестировать заново', { :action => 'delAllAnswers', :controller => 'questions'}, :method => :post %>
					<% end %>
				</td>
			</tr>			
		</table>
<% end %>