<h2>Просмотр ответов</h2>
<% @check %>
<% @ua.each do |u| %>
	<p>
		<% if @check != u.users_id or @check == nil %>
		<% @userShow = User.where(id: [u.users_id]) %>
		<% @userShow.each do |ushow| %>
		<b>
		Пользователь: 
		<%= ushow.firstname %>
		<%= ushow.lastname %>
		</b>
		<br>
		<% end %>
		<% @check = u.users_id %>
		<% end %>	
	<% @answe = Answers.where(id: [u.answers_id]) %>
	<% @answe.each do |a| %>
		<% @a = a.textAnswer %>
		<% @tque = Questions.where(id: [a.questions_id]) %>
		<% @tque.each do |q| %>
			<% @q = q.textQuestion %>
		<% end %>
	<% end %>
	Вопрос:
	<%= @q %>?
	<br>
	Ответ:
	<%= @a %>
	</p>
<% end %>